# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000


# -----------------------------------------------------------------------------
# JioSaavn API (https://github.com/rajput-hemant/jiosaavn-api-ts)
# -----------------------------------------------------------------------------
JIOSAAVN_API_URL=https://jiosaavn-api-ts.vercel.app # <- change this to your own API URL
NEXT_PUBLIC_JIOSAAVN_API_URL=https://jiosaavn-api-ts.vercel.app # <- change this to your own API URL
