# Database
DATABASE_URL=

# Auth
AUTH_URL=
AUTH_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Email
RESEND_API_KEY=
EMAIL_FROM=

# Playback
JIOSAAVN_DES_KEY=

# Web
NEXT_PUBLIC_APP_URL=
UMAMI_WEBSITE_ID=

# Rate limiting
ENABLE_RATE_LIMITING=
TRUSTED_PROXY=
RATE_LIMITING_REQUESTS_PER_SECOND=

# Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
