@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 246 246 246;

    --label: 62 62 62;
    --label-2: 112 112 112;

    --muted: 244 244 245;

    --popover: 241 245 249;

    --border: 228 228 231;

    --input: 228 228 231;

    --primary: 43 197 180;

    --secondary: 37 143 131;

    --destructive: 239 68 68;

    --radius: 0.5rem;
  }

  .dark {
    --background: 26 26 26;

    --label: 255 255 255;
    --label-2: 112 112 112;

    --muted: 244 244 245;

    --popover: 26 26 26;

    --border: 240, 5%, 34%;

    --input: 240, 5%, 34%;

    --primary: 43 197 180;

    --secondary: 248 250 252;

    --destructive: 239 68 68;

    --radius: 0.5rem;
  }

  body {
    @apply bg-background antialiased text-label;
  }
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary hover:bg-secondary;
}

/* swiper pagination */
.swiper-pagination-bullet {
  @apply bg-primary w-2.5 h-2.5;
}
